MONGO_URL=
PAYHERE_MERCHANT_ID=
PAYHERE_SECRET_KEY=
PAYHERE_RETURN_URL=http://localhost:3000/payment/paymentSuccess
PAYHERE_CANCEL_URL=http://localhost:3000/payment/paymentCancel
PAYHERE_NOTIFY_URL=http://localhost:8070/api/payment-notify
PAYMENT_PENDING_TIMEOUT_HOURS=24
GOOGLE_API_KEY=
JWT_SECRET=
CLAUDE_API_KEY=
